* {
position:relative;
  box-sizing:border-box;
  margin:0;
  border:0;
  padding:0;
  outline:0;
  z-index:auto;
  text-decoration:none;
  list-style:none;
}

html {
	background-color:#ceeaed;
}

body {
	color:#000;
	text-align:center;
	font-family:Verdana, Arial, sans-serif;
}

button {
	background-color:black;
	color:white;
  display:inline-flex;
  margin:0 10px 10px 0;
  padding:10px 30px;
  font-size:18px;
  font-weight:bold;
}

button:hover {
  background-color:white;
  color:black;
}

button:active {
  background-color:blue;
  color:white;
}

.col {
float:left;
width:100%;
padding:10px;
}

.col-space {
	float:left;
	width:100%;
	height:50px;
}
.col-space:after {
	content: "";
	display:table;
	clear:both;
}

.row:after {
  content: "";
  display:table;
  clear:both;
}

#wrapper {
	/*background-color:#ceeaed;*/
	background-color:grey;
	border:5px solid #ceeaed;
	color:white;
	max-width:800px;
	width:100%;
	height:100%;
	margin:0 auto;
}

a {
	color:black;
}

footer {
	background-color:#ceeaed;
}

header h1, nav {
	background:#ceeaed;
	/*background-color:transparent;*/
}

nav {
	color:black;
	font-weight:bold;
	padding:15px;
}

.clicked {
	display:inline-table;
}

#home {
	border:5px solid #ceeaed;
}
