* {
position:relative;
  box-sizing:border-box;
  margin:0;
  border:0;
  padding:0;
  outline:0;
  z-index:auto;
  text-decoration:none;
  list-style:none;
}

body {
	background-color:grey;
	color:#000;
	text-align:center;
	font-family:Verdana, Arial, sans-serif;
}

button {
	background-color:black;
	color:white;
  display:inline-block;
  margin:0 10px 0 0;
  padding:15px 45px;
  font-size:18px;
  font-weight:bold;
}

button:hover {
  background-color:white;
  color:black;
}

button:active {
  background-color:orange;
  color:black;
}

.col {
background-color:white;
float:left;
width:50%;
padding:10px;
}

.row:after {
  content: "";
  display:table;
  clear:both;
}

#wrapper {
	background-color:#ceeaed;
	max-width:800px;
	width:100%;
	height:600px;
	margin:0 auto;
}

a {
	color:black;
}

nav {
	background-color:#ceeaed;
	color:black;
	font-weight:bold;
	padding:15px;
}

.clicked {
	display:inline-table;
}

img {
	width:100%;
	height:100%;
	margin:0;
}